.landing{
    display: flex;
    justify-content: baseline;
   align-items: baseline;

&__ttl{
    width: 90px;
    color: #FFF;
    font-family: Baloo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: -0.25px;
    // 
    margin-left: 286px;
    margin-top: 62px;
} 



&__li{
    // margin-left: 20px;  
}

&__ul{
    display: flex;
    // justify-content: space-between;
    // flex-direction: row ;
    list-style: none;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
    margin-top: 67px;
    margin-left: 338px;
    
    
}

&__i{
    visibility: collapse;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

}
a{
    text-decoration: none;
    color: #FFF;
    &:hover{
        color: aqua;
    }
}

@media only screen and (max-width:768px) {
   .landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
   }

    .landing__i{
        visibility: visible;
       margin-right: -20px;
       font-style: normal;
    }

    .landing__ttl{
        margin-left: 75px;
    }
    
}
@media only screen and (max-width:768px) and (min-width:376px){
    .landing__li{
        visibility: collapse;

    }
}

@media only screen and (max-width:320px) {
   .landing{
    flex-wrap: wrap;
    


   }
.landing__i{
    visibility: collapse;
}
    .landing__div{
        visibility: collapse;
        display: flex;
    }
    .landing__ttl{
        margin-left: -330px;
    }
}

