.main{
   

&__ttl{
    margin-left: 589px;
    color: #FFF;
    font-family: Poppins;
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    line-height: 102px; /* 121.429% */
    letter-spacing: -2px;
} 

&__p{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
    width: 573.5px;
   margin-left: 433px;
  
   

}
}

.pic{
    &__one{
    text-align: center;
    margin-left: 288px;
    }

    &__two{
        visibility: collapse;
        }
}

@media only screen and (max-width:768px) {
    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

.main__ttl{
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 82.8px; /* 115% */
    letter-spacing: -1.6px;
    display: block;
    text-align: center;
    margin-left: 271px;
}
.main__p{
    // text-align: center;
    // margin-left: 97px;
    font-size: 22px;
    display: flex;
}

.pic__one{
  visibility: collapse;
}
.pic__two{
    visibility: visible;
    width: 617px;
    height: 512;
    display: block;
    margin-top: -100px;
    // i have made the first pic invisible so my pic automaticly goes down, icould fix it with margin negativ but it would be more that 100 ,so how can i make the first image be like gone instet of just make in invisible
    margin-left: 276px;
  }
}

@media only screen and (max-width:320px){
    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }


    .main__ttl{
       text-align: center;
        margin-left: 353px;
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 39.6px; /* 110% */
        letter-spacing: -0.8px;
        display: block;
        margin-top: 111px;
        margin-left: 103px;
       

    }
    .pic__one{
        visibility: collapse;
      }

      .main__p{
        text-align: center;
        margin-left: 92px;
        color: #FFF;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
        width: 217px;
        height: 49px;
    }

    .pic__two{
        visibility: visible;
        
       margin-left: -50px;
      }


}

