.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.landing__ttl {
  width: 90px;
  color: #FFF;
  font-family: Baloo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.25px;
  margin-left: 286px;
  margin-top: 62px;
}
.landing__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  margin-top: 67px;
  margin-left: 338px;
}
.landing__i {
  visibility: collapse;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
  color: aqua;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .landing__i {
    visibility: visible;
    margin-right: -20px;
  }
  .landing__ttl {
    margin-left: 75px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 376px) {
  .landing__li {
    visibility: collapse;
  }
}
@media only screen and (max-width: 377px) {
  .landing__ul {
    visibility: collapse;
  }
  .landing__ttl {
    margin-left: 30px;
  }
}
.main {
  text-align: center;
}
.main__ttl {
  color: #FFF;
  font-family: Poppins;
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 102px; /* 121.429% */
  letter-spacing: -2px;
}
.main__p {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
  width: 573.5px;
  margin-left: 433px;
}

.pic__one {
  text-align: center;
  margin-left: 288px;
}
.pic__two {
  visibility: collapse;
}

@media only screen and (max-width: 768px) and (min-width: 375px) {
  .main__ttl {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 82.8px; /* 115% */
    letter-spacing: -1.6px;
  }
  .main__p {
    text-align: center;
    margin-left: 97px;
  }
  .pic__one {
    visibility: collapse;
  }
  .pic__two {
    visibility: visible;
    margin-top: -250px;
    margin-left: 75px;
  }
}
@media only screen and (max-width: 375px) {
  .main__ttl {
    text-align: center;
    margin-left: 103px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.6px; /* 110% */
    letter-spacing: -0.8px;
  }
}
body {
  background-color: #000;
}