.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.landing__ttl {
  width: 90px;
  color: #FFF;
  font-family: Baloo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: -0.25px;
  margin-top: 62px;
}
.landing__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  margin-top: 67px;
}
.landing__i {
  visibility: collapse;
  color: #FFF;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #FFF;
}
a:hover {
  color: aqua;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
  }
  .landing__i {
    visibility: visible;
    margin-right: -20px;
    font-style: normal;
  }
  .landing__ttl {
    margin-left: 75px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 376px) {
  .landing__li {
    visibility: collapse;
  }
}
@media only screen and (max-width: 320px) {
  .landing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .landing__i {
    visibility: collapse;
  }
  .landing__div {
    visibility: collapse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landing__ttl {
    margin-left: 200px;
  }
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__ttl {
  color: #FFF;
  font-family: Poppins;
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 102px; /* 121.429% */
  letter-spacing: -2px;
}
.main__p {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
  width: 100%;
}

.pic {
  width: 100%;
  height: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main__ttl {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 82.8px; /* 115% */
    letter-spacing: -1.6px;
    display: block;
    text-align: center;
  }
  .main__p {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main__ttl {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.6px; /* 110% */
    letter-spacing: -0.8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main__p {
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    width: 217px;
    height: 49px;
  }
}
img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #000;
  max-width: 1440px;
  width: 100%;
}